.portfolio {
    text-align: center; 
    background-color: #1A1A1A;
    padding: 2em 0;
}

.portfolio h2, .portfolio h3 {
    color: white;
}

.card img {
    object-fit: contain;
    border-radius: 6px;
    max-width: 100%; /* Asegura que las imágenes sean responsivas. */
}

.card a {
    color: #00FF00;  /* Cambiamos el color para que se distinga del fondo */
    text-decoration: none;
    transition: color 0.3s ease; /* Transición suave al cambiar de color */
}

.card:hover {
    transform: scale(1.05);
    color: #00CC00;  /* Un tono de verde un poco más oscuro al pasar el cursor */
}
.carousel-caption {
    top: auto;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.portfolio h4, p {
    color: white;
    font-weight: bold;
    background-color: #1A1A1A;
}