.portfolio {
    text-align: center; 
    background-color: #1A1A1A;
    padding: 2em 0;
}

.portfolio h2, .portfolio h3 {
    color: yellow;
}

#portfolio {
    border-bottom: 1px solid #800080;
}

.project-container {
    margin: 2em 0;
}

.project-container .col-lg-3 {
    display: flex;
    align-items: stretch; /* Asegura que los hijos se estiren para llenar el contenedor */
}

.card { /* Actualizamos la clase para que afecte directamente a la tarjeta de Bootstrap. */
    flex: 1; /* Permite que el cuerpo de la tarjeta se expanda y llene el espacio disponible */
    display: flex;
    flex-direction: column; /* Mantenemos dirección columnar para el contenido */
    justify-content: space-between; /* Distribuye el contenido equitativamente */
}

.card img {
    object-fit: contain;
    border-radius: 6px;
    max-width: 100%; /* Asegura que las imágenes sean responsivas. */
}

.card a {
    color: #00FF00;  /* Cambiamos el color para que se distinga del fondo */
    text-decoration: none;
    transition: color 0.3s ease; /* Transición suave al cambiar de color */
}

.card:hover {
    transform: scale(1.05);
    color: #00CC00;  /* Un tono de verde un poco más oscuro al pasar el cursor */
}
