* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-gutter: stable;
}

body {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.info {
    margin-top: 60px;
    background-image: url('background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 600px;
    width: 100%;
}

.info h1 {
    font-size: 36px;
    color: #FFFFFF;
    padding-left: 30px;
    padding-top: 20px;
}

.info h2 {
    font-size: 50px;
    color: yellow;
    padding-left: 30px;
    padding-top: 10px;
    font-weight: bold;
}


.cta-button {
    display: inline-block;
    background-color: blueviolet;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #FFC700;
}

.icons-container {
    position: absolute;
    left: 20px;
}

.programming-languages i {
    margin-right: 10px;
    font-size: 24px;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px; /* Agregado para un mejor efecto hover */
    border-radius: 4px; /* Para que el efecto hover tenga bordes redondeados */
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.3); /* Efecto hover con fondo oscuro transparente */
}

.sticky {
    background-color: rgba(0, 0, 0, 0.8);
    transition: background-color 0.3s ease;
}

.dropdown-portafolio, .dropdown-aboutme, .dropdown-contact {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1A1A1A;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 200px;
    border-radius: 4px;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s, transform 0.3s;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background 0.2s;
}

.dropdown-content a:hover {
    background: #333;
}

.dropdown-aboutme:hover .dropdown-content,
.dropdown-contact:hover .dropdown-content {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

nav ul li.dropdown-aboutme > a {
    color: #800080; /* Morado para "About me" */
}

nav ul li.dropdown-portafolio > a {
    color: #FFC0CB; /* Rosa pálido para "Portfolio" */
}

nav ul li.dropdown-contact > a {
    color: #008000; /* Verde para "Contact" */
}

/* Estilo para el fondo del dropdown */
.navbar-dark .navbar-nav .dropdown-menu {
    background-color: #343a40; /* Color de fondo negro de Bootstrap */
}

/* Estilo para el texto del dropdown */
.navbar-dark .navbar-nav .dropdown-menu .dropdown-item {
    color: #ffffff; /* Color de texto blanco */
}

/* Estilo para el hover del dropdown-item */
.navbar-dark .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar-dark .navbar-nav .dropdown-menu .dropdown-item:focus {
    color: #000000; /* Color de texto negro */
    background-color: #f8f9fa; /* Color de fondo claro de Bootstrap */
}

.navbar {
    font-weight: bold;
}
